<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="addActivity">
    <h1>Add Activity</h1>
    <nav>
        <a href="/itenerary/<%=IteneraryId%>/"><button>Back</button></a>
    </nav>
    </div>
    <form action="/itenerary/<%=IteneraryId%>/trip/<%=TripId%>/activity/new" method="POST">
        <input type="text" name="name" placeholder="Activity Name"/><br/>
        <input type="text" name="description" placeholder="description"/><br/>
        <input type="text" name="address" placeholder="Address"/><br/>
        <input type="number" name="cost" placeholder="Activity cost"/><br/>
        <input type="submit" value="Add New Activities"/><br/>
    </form>
</body>
</html>