<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <h1>Edit Trip</h1>
    <nav>
        <a href="/itenerary/"><button>Back</button></a>
    </nav>
    <form action="/trip/<%=Trip._id%>?_method=PUT" method="POST">
    <input type="text" name="transportationTo" value="<%=Trip.transportationTo%>" placeholder="Transportation to">
    <input type="text" name="transportation" value="<%=Trip.transportation%>" placeholder="Transportation">
    <input type="text" name="lodging" value="<%=Trip.lodging%>" placeholder="Lodging">
    <input type="submit" value="submit changes"/>
    </form>
</body>
</html>