
/* new.ejs styling */
.new {
    background-color: rgb(95,158,211);
}
.addNew {
    text-align: center;
    color: aliceblue;
    margin-left: 30px;
}
.skyButton {
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    color: black;
    background-color: aliceblue;
    float: right;
    border: none;
}
.newForm {
    margin-top: 50px;
}
/* index page */

.location {
    color: black;
}
.fa-plane {
    margin-right: 10px;
    margin-left: 15px;
}
.card {
    padding: 5px;
    margin: 10px;
    background-color: aliceblue !important;
}
.dateDiv {
    direction: flex;
}
.qrCode {
    width: 120px;
    float: right;
    margin-right: 25px;
    margin-top: 30px;
}
.boardingPassActionsContainer {
    display: flex;
    border: none;
    margin-top: auto;
    padding: 5px;
    
}

.boardingPassAction {
    flex: 1;
  margin-left: 10px;
}

.edit {
  border-radius: 5px;
}
/* show page */


.addTrip {
    border-radius: 5px;
    border: none;
}
.trip {
    /* flex-direction: column; */
    display: flex;
    /* border: 1px solid black; */
    float: right;
    margin: 5px;
}
.activity {
    display: flex;
    float: right;
    margin: 5px;
    /* flex-direction: column; */
}
.editTrip {
 flex: 1;
 border-radius: 5px;
 border: none;
 margin-right: 5px;
}
.deleteTrip {
/* flex: ; */
border-radius: 5px;
border: none;
}

.noBullet {
    list-style: none;
}
.activityDetails {
    display: table;
    /* margin-left: 280px; */
    /* border: 1px solid black; */
}
.tripName {
  
    text-align: center;
}
.everything {
    background-color: aliceblue;
    margin: 25px;
}
.backButton {
    color: black;
    background-color: aliceblue;
    /* float: right; */
    border: none;
    border-radius: 5px;
    margin: 5px;
    
}
.buttonContainer {
    display: flex;
    justify-content: center;
}

.ulStyling {
    width: 20%;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0px;

}

.emptySpace {
    width: 70px;
}

.iteneraryEverything {
    display: flex;
    /* border: 1px solid black ; */
    justify-content: center;
}

.addIteneraryButton {
    color: black;
    background-color: aliceblue;
    
    border: none;
    border-radius: 5px;
    margin: 5px;
}